.body{
    margin: 0%;
}

.white-back{
    background-color: rgb(245, 249, 252);
}
.div-wit-back{
    background-image: url('images/back3.png');
    height: 1200px;
    background-repeat: repeat;
    background-size: cover;
    padding-top: 7px;
    width: 100%;
}
.heading{
    height: 80px;
    width: 100%px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 60px;
    background-color: rgba(0, 0, 225, 0.6);
    box-shadow: 3px 3px 3px rgb(4, 216, 253);
    display: flex;
    justify-content: center;
}

.logo{
    background-image: url(images/logo.png);
    height: 60px;
    width: 60px;
    margin-left: 80px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.logo1{
    background-image: url(images/logo.png);
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.text{
    margin-left: 20px;
    height: 80px;
    width: 700px;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color:yellow;
    margin-top: 15px;
    margin-bottom: 2px;
    font-weight: 500;
}
.church{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    color: yellow;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
}
.present{
    font-family: 'Times New Roman';
    font-size: 18px;
    text-align: center;
    color: rgb(0, 47, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    height: 15px;
    width: 100%;
}
.in-honour-of{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(0, 47, 255);
    margin-top: 0px;
    font-weight: 300;
    height: 15px;
    width: 100%;
    margin-right: 40px;
    margin-left: 40px;
}
.send_off{
    font-family: 'Hobo Std';
    font-size: 40px;
    text-align: center;
    color: rgb(0, 47, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
}
.container{
    display: flex;
    justify-content: center;
}
.line{
    width: 300px;
    height: 1px;
    background-color: blue;
    align-self: center;
}
.main-content{
    display: block;
    height: 520px;
    width: 100%;
    margin-bottom: 0px;
    justify-content: center;
}

.left-right{
    display: flex;
    width: 1250px;
    border-color: blue;
    height: 500px;
}

.left-content{
    height: 450px;
    border-width: 1px;
    border-color: blue;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 620px;
    width: 300px;
    border-radius: 80px;
    background-image: url(images/emblem-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: cornsilk;
    padding-top: 20px;
    box-shadow: 3px 3px 3px rgb(73, 73, 73) inset;
    background-color: rgba(210, 249, 252, 0.8);
}
.middle-content{
    display: block;
    height: 500px;
    border-color: rgb(0, 47, 255);
    border-width: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 140px;
    margin-right: 5px;
    width: 1000px;
    align-content: center;
}
.middle-top{
    display: flex;
    height: 700px;
    border-color: rgb(0, 47, 255);
    border-width: 1px;
    margin-top: 0px;
    background-image: url(images/daddy3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 0px;
    margin-left: 90px;
    width: 800px;
}
.REV{
    font-size: 30PX;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    margin-top: 520px;
    margin-left: 200px;
    border-color: blue;
    border-width: 1px;
    height: 60px;
    width: 400px;
}
.middle-down{
    border-color: blue;
    border-width: 1px;
    display: flex;
    justify-content: center;
    height: 50px;
}
.download-btn{
    font-size: 10px;
    color: white;
    font-weight: bold;
    font-family: Times New Roman;
    background-color: rgb(252, 6, 6);
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 20px;
    width: 250px;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 2px, 2px, 2px;
}
.download-btn:hover{
    color: black;
    background-color: yellow;
}

.right-content{
    height: 450px;
    border-width: 1px;
    border-color: blue;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 80px;
    background-image: url(images/emblem-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 20px;
    box-shadow: 3px 3px 3px rgb(73, 73, 73) inset;
    background-color: rgba(210, 249, 252, 0.8);
}
.footer{
    height: 70px;
    background-color: rgb(3, 3, 109);
    margin-top: 0px;
    font-size: 10PX;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
    color: rgb(248, 249, 252);
    margin-top: 0px;
    display: block;
    padding-top: 2px;
    padding-bottom: 4px;
    justify-content: center;
}   






@media (max-width: 600px){

    .body{
        margin: 0%;
    }
    
    .white-back{
        background-color: rgb(245, 249, 252);
    }
    .div-wit-back{
        background-image: url('images/back2.png');
        height: 2680px;
        background-repeat: repeat;
        background-size: contain;
        padding-top: 10px;
        width: 1280px;
    }
    .heading{
        height: 120px;
        width: 1000px;
        margin-left: 150px;
        margin-right: 100px;
        margin-top: 20PX;
        border-radius: 80px;
        background-color: rgba(0, 0, 225, 0.6);
        box-shadow: 1px 1px 1px rgb(4, 216, 253);
        display: flex;
        justify-content: center;
    }
    
    .logo{
        background-image: url(images/logo.png);
        height: 80px;
        width: 80px;
        margin-left: 50px;
        margin-top: 0px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 5px;
    }
    .logo1{
        background-image: url(images/logo.png);
        height: 80px;
        width: 80px;
        margin-left: 20px;
        margin-right: 50px;
        margin-top: 0px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 5px;
    }
    .text{
        margin-left: 20px;
        height: 20px;
        width: 500px;
        margin-top: 15px;
    }
    .name{
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
        text-align: center;
        color:yellow;
        margin-top: 2px;
        margin-bottom: 2px;
        font-weight: 100;
    }
    .church{
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        text-align: center;
        color: yellow;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 100;
    }

    .present{
        font-family: 'Times New Roman';
        font-size: 18px;
        text-align: center;
        color: rgb(0, 47, 255);
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 100;
        height: 15px;
        width: 100%;
    }
    .in-honour-of{
        font-family: 'Times New Roman';
        font-size: 20px;
        color: rgb(0, 47, 255);
        margin-top: 0px;
        font-weight: 300;
        height: 15px;
        width: 100%;
        margin-right: 40px;
        margin-left: 40px;
    }
    .send_off{
        font-family: 'Hobo Std';
        font-size: 25px;
        text-align: center;
        color: rgb(0, 47, 255);
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 100;
        display: flex;
        justify-content: center;
        padding-bottom: 3px;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .line{
        width: 160px;
        height: 1px;
        background-color: blue;
        align-self: center;
    }
    .main-content{
        display: block;
        height: 520px;
        width: 100%;
        margin-bottom: 0px;
        justify-content: center;
    }
    .left-content{
        height: 300px;
        border-width: 1px;
        border-color: blue;
        margin-bottom: 20px;
        margin-left: 70px;
        margin-right: 40px;
        margin-top: 35px;
        width: 200px;
        border-radius: 50px;
        background-image: url(images/emblem-left.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: cornsilk;
        padding-top: 20px;
        box-shadow: 3px 3px 3px rgb(73, 73, 73) inset;
        background-color: rgba(210, 249, 252, 0.8);
        justify-content: center;
    }
    .middle-content{
        display: block;
        height: 400px;
        border-color: rgb(0, 47, 255);
        border-width: 2px;
        margin-top: 2px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
        width: 600px;
        align-content: center;
    }
    .middle-top{
        display: flex;
        height: 400px;
        border-color: rgb(0, 47, 255);
        border-width: 1px;
        margin-top: 2px;
        background-image: url(images/daddy3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 590px;
        border-style: solid;
    }
    .REV{
        font-size: 20PX;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(253, 253, 253);
        text-align: center;
        margin-top: 305px;
        margin-left: 50px;
        border-color: blue;
        border-width: 1px;
        height: 75px;
        width: 490px;
        border-style: solid;
    }
    .middle-down{
        border-color: blue;
        border-width: 1px;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    .download-btn{
        font-size: 10px;
        color: white;
        font-weight: bold;
        font-family: Times New Roman;
        background-color: rgb(252, 6, 6);
        text-align: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        height: 20px;
        width: 220px;
        border-radius: 20px;
        padding-top: 10px;
        box-shadow: 2px, 2px, 2px;
    }
    .download-btn:hover{
        color: black;
        background-color: yellow;
    }
    
    .right-content{
        height: 300px;
        border-width: 1px;
        border-color: blue;
        margin-bottom: 2px;
        margin-left: 20px;
        margin-right: 200px;
        margin-top: 35px;
        width: 200px;
        border-radius: 50px;
        background-image: url(images/emblem-right.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: cornsilk;
        padding-top: 20px;
        box-shadow: 3px 3px 3px rgb(73, 73, 73) inset;
        background-color: rgba(210, 249, 252, 0.8);
        justify-content: center;
    }
    .footer{
        height: 70px;
        width: 1280px;
        background-color: rgb(3, 3, 109);
        margin-top: 10px;
        font-size: 10PX;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(248, 249, 252);
        margin-top: 0px;
        display: block;
        padding-top: 1px;
        padding-bottom: 2px;
        justify-content: center;
    }
}
